.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s
}

.btn-primary {
    background: #FFCC70;
    color: #fff;
    border: 2px solid #FFCC70;
}

.btn-primary:hover {
    background: #fff;
    color: #FFCC70;
    border: 2px solid #FFCC70;
}

.btn-outline-primary {
    background: #fff;
    color: #FFCC70;
    border: 2px solid #FFCC70;
}

.btn-outline-primary:hover {
    background: #FFCC70;
    color: #fff;
    border: 2px solid #FFCC70;
}

.btn-secondary {
    background: #8ECDDD;
    color: #fff;
    border: 2px solid #8ECDDD;
}

.btn-secondary:hover {
    background: #fff;
    color: #8ECDDD;
    border: 2px solid #8ECDDD;
}

.btn-outline-secondary {
    background: #fff;
    color: #8ECDDD;
    border: 2px solid #8ECDDD;
}

.btn-outline-secondary:hover {
    background: #8ECDDD;
    color: #fff;
    border: 2px solid #8ECDDD;
}