*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    width: 100%;

}
#bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bg-image1{
    
    background: url(../bg/bg2.jpg);
    height: 100vh;
    
}
.bg-image2{
    height: 50vh; 
    background: url(../bg/bg1.jpg);
}
.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: default;
    transform: translate(-50%, -50%);

}
.caption .border{
    background-color:#111; 
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    
}
.box{
    text-align: center;
    padding: 50px;
}
.login-footer{
    position: relative;
    bottom: -138px;
}
.footer{
    background-color: #22668D;
}
.row{
    overflow: auto;
    width: 100%;
    padding: 20px;
}
.col-2{
width: 100%;
float: left;
width: 50%;

}
.social-links{
    float: right;
}

.footer-links li{
    padding-right: 10px;
}
.col-2 ul{
    list-style-type: none;
    padding: 0;
}
footer a{
color: #fff;
font-size: 16px;
text-decoration: none;
}
.fa-brands{
    margin-left: 15px;
    font-size: 25px;
}
footer ul li{
    display: inline-block;
}
.fa-brands:hover{
    opacity: 0.7;
}
.main-header{
    width: 100%;
}
.header{

    background-color: #FFCC70;
    height: 100%;
    padding: 20px;
}

.nav-links ,.logo{
    display: inline-block;
}
.logo{
    font-weight: bold;
    margin-left:7px ;
    font-size: 20px;

}
header a{
    text-decoration: none;
    color: #12333b;
}
.nav-links{
    float: right;
    
}
.nav-links a{
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #22668D;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}

/* ---------------------------------------------------- */
/* Genel düzen ve fotoğraf alanları */
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Resimler arası boşluk */
}

.picture {
    width: calc(25% - 20px); /* Masaüstü için dört fotoğrafın yan yana gelmesi */
    padding-top: 45%; /* Oranı düşürdük */
    position: relative;
    overflow: hidden;
    border-radius: 10px; /* Kenarların yumuşatılması */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.picture img:hover {
    transform: scale(1.05);
}

@media (max-width: 1081px) {
    .picture {
        width: 100%; 
        padding-top: 70%; 
    }
}
